<div class="container">
  <div class="row justify-content-md-center margin-vertical">
    <div ngbDropdown class="col col-6">
      <div ngbDropdown>
        <button class="btn btn-outline-primary btn-block" ngbDropdownToggle>{{selectedState}}</button>
        <div ngbDropdownMenu class="col col-12 text-center dropdown-scroll">
          <button class="btn btn-block" ngbDropdownItem *ngFor="let state of states" (click)="changeSelectedState(state)">
            {{state}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center margin-vertical">
    <div class="col col-lg-6 col-md-12">
      <div ngbDropdown>
        <div ngbDropdown>
          <button class="btn btn-outline-primary btn-block" ngbDropdownToggle>{{selectedCity}}</button>
          <div ngbDropdownMenu class="col col-12 text-center dropdown-scroll">
            <button class="btn btn-primary btn-block" ngbDropdownItem *ngFor="let city of cities" (click)="changeSelectedCity(city)">
              {{city}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-lg-6 col-md-12">
      <div>
        <div #mapContainer id="map"></div>
      </div>
    </div>
  </div>
</div>